<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CineGirls</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- Certifique-se de usar a versão compatível do Bootstrap (4.3.1 neste exemplo) -->
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>

    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="~/Atuacao/Index">CineGirls</a>
            <a class="nav-link" href="~/Atuacao/Index">Home </a>
            <a class="nav-link" href="~/Ator/Index">Ator</a>
            <a class="nav-link" href="~/Filme/Index">Filme</a>
            <a class="nav-link" href="~/Idioma/Index">Idioma</a>
        </nav>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - CineGirls - Made by Jhennifer and Maria Carolina </p>
        </footer>
    </div>

</body>
</html>
